.corpo {
    background-color: #000;
    font-family: 'Poppins';
}

/* Video */

/* .video {
} */


/* Header */

.cabecalho, .container-principal {
    max-width: 1440px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 30px;
}

.img-icone {
    width: 6%;
}

.navbar {
    display: flex;
    gap: 40px;
}

.links-internos {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.links-internos:hover {
    border-radius: 30px;
    background-color: red;
    border: red solid 10px;
}

/* Main */

.container-principal {
    display: flex;
    padding: 30px;
    gap: 100px;
}

.container-informativo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 150px;
    width: 500px;
}

/* .img-titulo {;
} */

.descricao {
    color: #bbbbbb;
    font-size: 18px;
    width: 590px;
    width: 550px;
}

.btn {
    background-color: red;
    color: white;
    width: 180px;
    height: 70px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: -20px;
    font-weight: bold;
}

/* aside */

.img-principal {
    margin-top: 150px;
}
